/* .container {

} */

.list-group-item, .card-title {
    text-align: center;

}

.card {
    width: 20%;

}

.playerCharacter {
    color: black;
    background-color: green;
}

.enemyCharacter {
    color: black;
    background-color: red;
}

.defender {
    background-color: black;
    color: antiquewhite;
}